
  
html, body {
  margin: 0;
  padding: 0;
  background-image: url("https://image.shutterstock.com/image-vector/forest-game-background-2d-application-260nw-401092609.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
div{
  text-align: center;
}
canvas {
  border: 2px solid black;
  margin:0px auto;
  padding: 0;
  display: block;
 }
